<div class="container">
    <div class="card-container">
        <div class="card" style="width: 18rem;" *ngFor="let b of blogDetails">
          <img [src]="b.imageResponse[0].url" alt="img" class="card-img-top img-fluid">
          <div class="card-body">
            <h3 class="card-title"> {{b.blogTitle}}</h3>
            <p class="card-text">
              {{b.blogName}}
            </p>
            <a (click)="showBlogDetails(b.blogId)" class="btn btn-danger">See More</a>
          </div>
        </div>
      </div>

      <div>
        <button class="btn all-cars-btn" (click)="loadMoreProduct()">Load More</button>
      </div>
</div>
