<!-- <div class="container">
    <div class="heading text-center">
        <h1>{{blog.blogTitle}}</h1>
    </div>
    <div class="date-of-posting">
        <p>{{blog.dataOfPosting}}</p>
    </div>
    <div class="blog-images">
        <img [src]="blog.imageResponse[0].url" alt="" width="600px">
    </div>
    <div class="content">
        <p>{{blog.blogContent}}.</p>
    </div>
    <div class="blog-images">
        <img [src]="blog.imageResponse[1].url" alt="" width="600px">
    </div>
    <div class="para2">
        <p>{{blog.para2}}.</p>
    </div>
    <div class="blog-images">
        <img [src]="blog.imageResponse[2].url" alt="" width="600px">
    </div>
    <div class="para3">
        <p>{{blog.para3}}.</p>
    </div>
</div> -->

<div class="container">
    <div class="heading text-center">
        <h1>{{blog.blogTitle}}</h1>
    </div>
    <div class="date-of-posting">
        <p>{{blog.dataOfPosting}}</p>
    </div>
    <div class="blog-images">
        <img [src]="blog.imageResponse[0].url" alt="" width="600px" class="img-fluid">
    </div>
    <div class="content">
        <p>{{blog.blogContent}}</p>
    </div>
    <div class="blog-images">
        <img [src]="blog.imageResponse[1].url" alt="" width="600px" class="img-fluid">
    </div>
    <div class="para2">
        <p>{{blog.para2}}</p>
    </div>
    <div class="blog-images">
        <img [src]="blog.imageResponse[2].url" alt="" width="600px" class="img-fluid">
    </div>
    <div class="para3">
        <p>{{blog.para3}}</p>
    </div>
</div>
