<div class="container-fluid">
  <div class="container-fluid mt-3">
    <mat-form-field appearance="outline" class="w-100" [color]="'warn'">
      <mat-label>search</mat-label>
      <input matInput 
      #searchKeyword
      (keyup)="searchByKeyword(searchKeyword.value)" 
      name="searchKey"
      id="searchKey"
      placeholder="Search your car">
      <mat-hint>Search by company name, model name, car type, fuel type etc</mat-hint>
  </mat-form-field>
  </div>

  <div class="card-container">
    <div class="card" style="width: 18rem;" *ngFor="let p of productDetails">
      <img [src]="p.imageResponse[0].url" alt="img" class="card-img-top img-fluid">
      <div class="card-body">
        <h3 class="card-title">{{p.makeName}} {{p.productName}}</h3>
        <p class="card-text">
          Type : {{p.bodyType}}
          <br>
          Color: {{p.color}}
        </p>
        <a (click)="showProductDetails(p.productId)" class="btn btn-danger">See Price</a>
      </div>
    </div>
  </div>

  <div>
    <button class="btn all-cars-btn" (click)="loadMoreProduct()">Load More</button>
  </div>

</div>